{{- define "match" -}}
[<a href="/{{ .ID }}" target="_blank">{{ .ID }}</a>] {{ .HomeTeam.Name }} vs. {{ .AwayTeam.Name }}
{{- end -}}

<!DOCTYPE html>

<html>

<head>
   <title>World Cup Dashboard</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro" type="text/css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" type="text/css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
  html, body {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
  }
  h1 {
    font-size: 32px;
    cursor: default;
  }
  h2 {
    font-size: 25px;
    cursor: default;
  }
  li {
    font-size: 16px;
    cursor: default;
    font-family: 'Source Code Pro';
  }
  a:link, a:visited, a:hover, a:active {
    color: black;
  }
  
</style>

<body>
  <h1>World Cup Bracket</h1>

  <h2> {{ title16 }} </h2>
  <ul>
    {{ range . -}}
    {{- if is16 . -}}
    <li>{{ template "match" . -}}</li>
    {{ end -}}
    {{ end -}}
  </ul>

  <h2>{{ titleQF }}</h2>
  <ul>
    {{ range . -}}
    {{ if isQF . -}}
    <li>{{ template "match" . }}</li>
    {{ end -}}
    {{ end -}}
  </ul>

  <h2>{{ titleSF }}</h2>
  <ul>
    {{ range . -}}
    {{ if isSF . -}}
    <li>{{ template "match" . }}</li>
    {{ end -}}
    {{ end -}}
  </ul>

  <h2>{{ title3P }}</h2>
  <ul>
    {{ range . -}}
    {{ if is3P . -}}
    <li>{{ template "match" . }}</li>
    {{ end -}}
    {{ end -}}
  </ul>

  <h2>{{ titleF }}</h2>
  <ul>
    {{ range . -}}
    {{ if isF . -}}
    <li>{{ template "match" . }}</li>
    {{ end -}}
    {{ end -}}
  </ul>
</body>

</html>
